{% extends 'layout/theme.html' %}

{% block title %}
    Symptoms
{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block content %}
    <h1 class="text-center my-4 mt-4">HAI! How can I assist you?</h1>
<div class="container my-4 mt-4">
    <form action="/symptoms" method="post">
        <div class="form-group">
            <label for="symptoms">Enter your symptoms:</label>
            <input type="text" class="form-control" id="symptoms" name="symptoms" placeholder="e.g. itching, chills, belly pain, coma, blackheads, skin peeling, blister, etc">
        </div>
        <div name="mysysms" id="transcription"></div>
        {% if message %}
        <p>{{ message }}</p>
        {% endif %}
        <br>
        <button type="submit" class="btn btn-primary btn-lg btn-block">Predict</button>
    </form>
</div>

{% if predicted_disease %}
<!-- Results -->
<h1 class="text-center my-4 mt-4">Here's my prediction about your problem</h1>
<div class="container">
    <div class="result-container">
        <!-- Buttons to toggle display -->
        <button class="toggle-button btn btn-info" data-bs-toggle="modal" data-bs-target="#diseaseModal">Disease</button>
        <button class="toggle-button btn btn-info" data-bs-toggle="modal" data-bs-target="#descriptionModal">Description</button>
        <button class="toggle-button btn btn-info" data-bs-toggle="modal" data-bs-target="#precautionModal">Precaution</button>
        <button class="toggle-button btn btn-info" data-bs-toggle="modal" data-bs-target="#medicationsModal">Medications</button>
        <button class="toggle-button btn btn-info" data-bs-toggle="modal" data-bs-target="#workoutsModal">Workouts</button>
        <button class="toggle-button btn btn-info" data-bs-toggle="modal" data-bs-target="#dietsModal">Diets</button>
    </div>
</div>
{% endif %}

<!-- Disease Modal -->
<div class="modal fade" id="diseaseModal" tabindex="-1" aria-labelledby="diseaseModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="diseaseModalLabel">Predicted Disease</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>{{ predicted_disease }}</p>
            </div>
        </div>
    </div>
</div>

<!-- Description Modal -->
<div class="modal fade" id="descriptionModal" tabindex="-1" aria-labelledby="descriptionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="descriptionModalLabel">Description</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>{{ dis_des }}</p>
            </div>
        </div>
    </div>
</div>

<!-- Precaution Modal -->
<div class="modal fade" id="precautionModal" tabindex="-1" aria-labelledby="precautionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="precautionModalLabel">Precaution</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul>
                    {% for i in my_precautions %}
                    <li>{{ i }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Medications Modal -->
<div class="modal fade" id="medicationsModal" tabindex="-1" aria-labelledby="medicationsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="medicationsModalLabel">Medications</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul>
                    {% for i in medications %}
                    <li>{{ i }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Workouts Modal -->
<div class="modal fade" id="workoutsModal" tabindex="-1" aria-labelledby="workoutsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="workoutsModalLabel">Workouts</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul>
                    {% for i in workout %}
                    <li>{{ i }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Diets Modal -->
<div class="modal fade" id="dietsModal" tabindex="-1" aria-labelledby="dietsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dietsModalLabel">Diets</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul>
                    {% for i in my_diet %}
                    <li>{{ i }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
